name: Auto comment on new issues

on:
  issues:
    types: [opened]

permissions:
  issues: write

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - name: Comment on new issue
        uses: peter-evans/create-or-update-comment@v5
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            # Пожалуйста, ознакомьтесь с README. В нем есть ответы на распространенные вопросы и описания файлов: [README.md](https://github.com/Flowseal/zapret-discord-youtube/blob/main/README.md)

            ### Прежде всего
            - Запустите `service.bat` и выберите пункт `Run Diagnostics`, чтобы проверить на конфликтующие сервисы.
                - Если у вас проблемы с запуском Discord, то в конце согласитесь на очистку кэша.
            - Проверьте обновление **Hosts File** (в `service.bat`).
            - Если не работает / перестала работать стратегия, то попробуйте другие.
            - Если у вас проблемы с чем-то, что корректно работает без zapret, то убедитесь, что `Game Filter` (disabled) в `service.bat`. Если это не помогло, то в `service.bat` выберите `IPSet Filter`, чтобы он стал (none)

            ##
            ### Проблемы с файлами? (не открываются / нет стратегий в Install Service и т.д.)
            - Если открывается `service.bat`, то:
                - `service.bat` -> `Remove Services`
                - `service.bat` -> `Run Diagnostics` (если есть ошибки - устраните их) -> в конце Y
            - Убедитесь, что процесс winws.exe не запщуен (выключите его, если запущен)
            - Удалите папку с запретом
            - Перезапустите устройство
            - Скачайте последнюю версию [со страницы релизов](https://github.com/Flowseal/zapret-discord-youtube/releases) (`zapret-discord-youtube-...`)
            - Нажмите пкм по архиву -> свойства. Если снизу справа есть галочка разблокировать, то нажмите на неё -> применить -> ОК
            - Распакуйте в новую папку в корне диска (без спец. символов, кириллицы и пробелов)
            - Откройте service.bat -> Run Tests -> Standard -> All. В конце он выведет лучшую стратегию
            - Как найдёте рабочую стратегию, можете поставить её на автозапуск: `service.bat` -> `Install Service` -> выбираете нужную

            ##
            ### Не работает игра / сервис / сайт?
            - Проверьте работоспособность без обхода:
                - **Работает:**  
                    - Домен можно удалить в `lists/list-general.txt`, если он там присутствует  
                    Либо же добавить домен в `lists/list-exclude.txt` (*поддомены автоматически учитываются*)  
                    - Попробуйте выключить `Game Filter` в `service.bat` (требуется перезапуск обхода или переустановка сервиса) и `IPSet Filter` (чтобы стал **none**)
                
                - **Не работает: пробуйте другие стратегии.** Если не помогло, то:  
                *Если это сайт*, то добавьте домен в `lists/list-general.txt` (поддомены автоматически учитываются).  
                *Если это игра*, то попробуйте включить `Game Filter` и `IPSet Filter` (чтобы стал **load**, если не поможет то **any**) в `service.bat` (требуется перезапуск обхода или переустановка сервиса).

                    **Пробуйте разные стратегии после внесения изменений в случае, если это не сработало**