name: Close stale issues

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  actions: write
  issues: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10.1.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

          days-before-stale: 60
          days-before-close: 7
          stale-issue-message: '⏳ Issue помечена как неактивная. Она будет закрыта через 7 дней, если не появится новых комментариев.'
          close-issue-message: '❌ Issue автоматически закрыта из-за отсутствия активности. Откройте снова при необходимости.'

          days-before-pr-stale: -1
          days-before-pr-close: -1

          exempt-issue-labels: 'pinned,games'
          remove-stale-when-updated: true
          operations-per-run: 4500
